body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #1f76b4;
  height:100%;
}

h2 {
  margin: 0;
}

footer {
  text-align: center;
  padding: 3px;
  background-color: #afafaf;
}

.container {
  margin: auto;
  padding: 3%;
}

.main {
  margin: 2%;
  margin-bottom: 4%;
}

.btn {
  padding: 1%;
}

.ichi {
	background-color: #ffd700;
	font-size:48px;
}

btn.ichi:hover {
	background-color: #FFFFFF;
}

.ni {
	background-color: #c0c0c0;
	font-size:36px;
}

.san {
	background-color: #CD7F32;
	font-size:24px;
}


.Eternal {	
	width: 200px;
	height: 100px;
}

.HG {	
	width: 350px;
	height: 200px;
}

.MP6 {	
	display: block;
	width: 40%;
	height: 40%;
	margin-left: auto;
	margin-right: auto;
}

.tabletext {
	font-size: 20px;
	text-align: center;
}
.tabletext2 {
	font-size: 15px;
	text-align: center;
}

.bs-table-hover-bg {
	background-color: #326ab5;
}

a:link {
	color: white;
}
a:hover {
	color: #ffad24;
}

.row {
  margin: 8px -16px;
}

.column {
  float: left;
  width: 45%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.content {
  background-color: white;
  padding: 1%;
  margin: 2%;
}

.navbar-brand {
	font-family: Oswald;
	font-size: 30px;
	padding: 0px;
}

.topnav a {
  float: left;
  color: white;
  padding: 16px;
  text-decoration: none;
  font-size: 18px;
}

.topnav a:hover {
  background-color: silver;
  color: black;
  text-decoration: underline;
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
}

.sidenav a {
  color: white;
  padding: 16px;
  text-decoration: none;
  display: block;
}

.sidenav a:hover {
  background-color: silver;
  color: black;
}

.navbar-brand-middle {
    padding-top: var(--bs-navbar-brand-padding-y);
    padding-bottom: var(--bs-navbar-brand-padding-y);
    margin-right: var(--bs-navbar-brand-margin-end);
    font-size: var(--bs-navbar-brand-font-size);
    color: var(--bs-navbar-brand-color);
    text-decoration: none;
    white-space: nowrap;
	font-family: 'Press Start 2P';
}

.navbar-brand-middle:hover {
	color: red;
}


.html {width: 90%;}
.css {width: 80%;}
.js {width: 65%;}
.php {width: 60%;}