body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  background-color: #f59900;
}

h1, h2, h3 {
  color: #bc171b;
}

footer {
  text-align: center;
  padding: 3px;
  background-color: #afafaf;
}

div.relative {
  position: relative;
  left: 30px;
}

.row {
	padding-top: 0px;
}

h1 {
  font-family: Oswald;
  font-size: 60px;
  padding-top: 40px;
  padding-left: 40px;
  text-align: center;
  position:relative; bottom:10px;
  z-index:1;
}

p {
	text-align: center;
	font-size: 20px;
}

p1 {
	font-size: 40px;
	font-family: Oswald;
	text-align: center;
	display: block;
	left: 580px;
	bottom: 100px;
	z-index:-1;
}

.card {
	width: 400px;
}

.card-img-top {
	width: 100%;
	height: 65%;
}

hr {
  margin: 0;
  padding: 0;
  color:  pink;
}

.lead {
	color: #000000;
	font-family: Oswald;
	font-size: 24px;
}


/************************************/
/************** Header **************/
/************************************/
.navbar {
  display: block;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #111;
}

ul {
	padding-inline-start: 0px;
}

/*************************************/
/******** Bootstrap Overrides ********/
/*************************************/
.jumbotron {
  margin: 0px;
  background-color: steelblue;
}

.btn {
  padding: 10px;
  color: white;
  margin-left: 1%;
  margin-right: 1%;
}

.btn:hover {
  color: pink;
}

.d-flex1 {
  justify-content: center;
}

.d-flex1 .btn {
  color:  white;
  border-color: white;
  border-width: 1px;
  border-style: outset;
  white-space: nowrap;
  text-align: center;
  position: absolute;
  left: 260px;
}

.d-flex1 .btn:hover {
  color:  white;
  background-color: #5865F2;
}

.d-flex2 .btn {
  color:  white;
  border-color: white;
  border-width: 1px;
  border-style: outset;
  white-space: nowrap;
  text-align: center;
  position: absolute;
  left: 260px;
}

.d-flex2 .btn:hover {
  color:  white;
  background-color: #08A0E9;
}

.d-flex3 .btn {
  color:  white;
  border-color: white;
  border-width: 1px;
  border-style: outset;
  white-space: nowrap;
  text-align: center;
  position: absolute;
  left: 260px;
}

.d-flex3 .btn:hover {
  color:  #125589;
  background-color: orange;
}

.col-md-4 {
	width: 384px;
	height: 216px;
}