body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #1f76b4;
}

img {
  width: 100%;
  height: 100%;
}

.container {
  margin: auto;
  padding-top: 70px;
  padding-right: 100px;
  padding-left: 160px;
  max-width: 750px;
  max-height: 850px;
  color: #000000;
}

h1 {
	font-size: 44px;
	font-family: Oswald;
	text-align: center;
	z-index: 2;
	position:relative; bottom:170px;
	color: #1f76b4;
	-webkit-text-stroke: 1px black;
}

h2 {
	font-size: 22px;
	font-family: Oswald, sans-serif;
}

h3 {
	font-size: 35px;
	font-family: Oswald;
	color: white;
}

h4 {
	font-family: Oswald;
	color:white;
}

h7 {
	padding-top: 10px;
	font-size: 50px;
	font-family: Oswald;
}

h6 {
	font-family: Oswald;
	font-size: 40px;
	color: #ffad24;
	padding-bottom: 35px;
	text-align: center;
}

.orange {
	color:orange;
}

p {
	margin-bottom: 0px;
	text-align: center;
}

p2 {
	font-family: Oswald;
	text-align: center;
	font-size: 25px;
}

p3 {
	font-size: 25px;
	font-family: Oswald;
	color: white;
}

footer {
  text-align: center;
  padding: 3px;
  background-color: #afafaf;
  max-height: 70px;
}

.foot {
	position: absolute;
	top: 1300px;
	width: 100%;
}

.row {
	padding-top: 70px;
}

/******* Applies to both streams and videos *******/
.P1 {	
	padding-bottom: 5px;
}

.seph {	
	padding-bottom: 5px;
	border-color: white;
	border: 1px;
	border-style: solid;
}

.btn {
  color:  white;
  border-color: white;
  border-width: 1px;
  border-style: outset;
  white-space: nowrap;
  text-align: center;
}
	

.btn-primary {
	position: absolute;
	left: 995px;
}
/******* Applies to both streams and videos *******/

.yeti {
	width: 100%;
	height: 80%;
}

.rtx {
	width: 100%;
	height: 50%;
}

.obs {
	width: 90%;
	height: 50%;
}

.pp {
	width: 90%;
	height: 45%;
	z-index:-10;
}

.text-link {
	color: indigo;
}

h1.display-4 {
	padding-left: 50px;
	width:900px;
}

p.lead {
	padding-left: 50px;
	width:900px;
}

a {
  color: black;
}

a:hover {
  color: #ffad24;
}

* {
  box-sizing: border-box;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.cardva {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: black;
}

/******* Navigation *******/

.navbar-brand {
	font-family: Oswald;
	font-size: 30px;
	padding: 0px;
}

.topnav {
  overflow: hidden;
  background-color: black;
}

.topnav a {
  float: left;
  color: white;
  padding: 16px;
  text-decoration: none;
  font-size: 18px;
}

.topnav a:hover {
  background-color: silver;
  color: black;
  text-decoration: underline;
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
}

.sidenav a {
  color: white;
  padding: 16px;
  text-decoration: none;
  display: block;
}

.sidenav a:hover {
  background-color: silver;
  color: black;
}

.navbar-brand-middle {
    padding-top: var(--bs-navbar-brand-padding-y);
    padding-bottom: var(--bs-navbar-brand-padding-y);
    margin-right: var(--bs-navbar-brand-margin-end);
    font-size: var(--bs-navbar-brand-font-size);
    color: var(--bs-navbar-brand-color);
    text-decoration: none;
    white-space: nowrap;
	font-family: 'Press Start 2P';
}

.navbar-brand-middle:hover {
	color: red;
}

.equip {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  background-color: #4CAF50;
}


.img:hover{
    color: #424242; 
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
  opacity: 1;
  transform: scale(1.3);
  -ms-transform: scale(1.3); /* IE 9 */
  -webkit-transform: scale(1.3); /* Safari and Chrome */
}

.html {width: 90%;}
.css {width: 80%;}
.js {width: 65%;}
.php {width: 60%;}